{#
/**
 * @file
 * Default theme implementation to display a DFP tag.
 *
 * Available variables:
 * - tag: \Drupal\dfp\View\TagView object.
 *
 * @see \Drupal\dfp\View\Tag\TagViewBuilder::buildPreTag()
 *
 * @ingroup themeable
 */
#}
<div id="{{ tag.placeholderId }}">
    {% if tag.isSlugHidden == false and tag.slug %}
        <div>
            {{ tag.slug }}
        </div>
    {% endif %}
    <script type="text/javascript">
        googletag.cmd.push(function() {
            googletag.display('{{ tag.placeholderId }}');
        });
    </script>
</div>
