{#
/**
 * @file
 * Default theme implementation to display a DFP short tag.
 *
 * Available variables:
 * - tag: The DFP Tag configuration entity.
 * - url_jump: Url to link to.
 * - url_ad: Url to display the ad.
 *
 * @see \Drupal\dfp\View\Tag\TagViewBuilder::buildPreTag()
 *
 * @ingroup themeable
 */
#}
<a href="{{ url_jump }}">
  <img src="{{ url_ad }}">
</a>
